@import '../../../../assets/css/variables';

.container {
    height: 100%;
    width: 100%;
    padding: 20vh 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    background: transparent;
}