<div class="container">
  <div class="email-actions">
    <img
      class="action-button"
      src="../../../assets/icons/email-actions.svg"
      alt=""
    />
    <img
      style="width: 120px"
      class="action-button"
      src="../../../assets/icons/email-pagination.svg"
      alt=""
    />
  </div>
  <div class="email-view">
    <img src="../../../assets/images/user_2.webp" class="user-img" alt="" />
    <div class="user-data">
      <div>
        <div class="sender-name">Sam Miller</div>
        <div class="sender-subject">Portfolio</div>
        <div class="sender-email">sammiller@gmail.com</div>
      </div>
      <div class="mail-content">
        <div class="time">Today 08:45 PM</div>
        <div>
          <span class="mail-greet">Hi Mike,</span> <br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
          fermentum facilisis libero, venenatis mattis orci hendrerit eget.
          Etiam ultrices mollis justo, nec fermentum elit viverra eu. Cras at
          cursus turpis. Nullam magna sem, vulputate quis massa nec, mollis
          sollicitudin dui. Sed eu massa in arcu pharetra posuere. Phasellus
          maximus neque non ex dapibus fringilla. Praesent nec lacinia enim.
          Curabitur a dui nisl.
        </div>
        <div class="email-footer">
          <mat-icon> attach_file</mat-icon>
          4 Attachments
        </div>
        <div class="media-preview">
          <div class="media-1">
            <img
              class="media-image"
              src="../../../assets/images/img_1.webp"
              alt=""
            />
            <img
              class="media-image"
              src="../../../assets/images/img_2.webp"
              alt=""
            />
          </div>
          <div class="media-2">
            <img
              class="media-image"
              src="../../../assets/images/img_4.webp"
              alt=""
            />
          </div>
          <div class="media-3">
            <img
              class="media-image"
              src="../../../assets/images/img_3.webp"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="input-container">
        <input
          type="text"
          id="message-input"
          placeholder="Type your message..."
        />
        <div class="file-upload">
          <label for="file-input">
            <mat-icon style="margin-right: 12px"> attach_file</mat-icon>
          </label>
          <input id="file-input" type="file" />
        </div>

        <mat-icon style="color: #1fb5eb; cursor: pointer;">send</mat-icon>
      </div>
    </div>
  </div>
</div>
